<p id="notice"><%= notice %></p>

<h1>Listing Clients</h1>

<table class="ui celled table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= link_to client.name, client %></td>
        <td><%= client.description %></td>
        <td>
        <%= link_to edit_client_path(client) do %>
          <i class="edit icon"></i>
        <% end %>
        <%= link_to client, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <i class="delete icon"></i>
        <% end %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Client', new_client_path, class: 'ui button' %>
