<%= simple_form_for(@shift) do |f| %>

  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, input_html: {value: 'Shift ' + Time.now.strftime("%d.%m.%Y")} %>
    
    <%= f.text_field :date, value: @shift.date.present? ? @shift.date.strftime("%d %B, %Y") : Time.now.strftime("%d %B, %Y"), id: 'datepicker' %>
    <%= f.association :suplier, class: 'dropdown' %>
    <%= f.association :client %>
      <div class="ui styled accordion">
      <% @grades.each do |grade| %>
        <div class="title"><i class="dropdown icon"></i><%= grade.name %></div>
       <div class="content">
        <%= f.fields_for :shift_goods do |sg| %>
        <% if sg.object.good.grade_id == grade.id %>
          <%= sg.input :ves, label: sg.object.good.name.to_s %>
          <%= sg.hidden_field :good_id %>
          <% end %>
        <% end %>
        </div>
      <% end %>
      </div>
    <%= f.input :description %>
  </div>

<script type="text/javascript">
  $('.ui.accordion')
  .accordion()
;
   $('#datepicker').pickadate({
  today: '',
  clear: 'Clear selection',
  close: 'Cancel'
  })
   $('select.dropdown')
  .dropdown()
;

</script>
<div class="action_buttons">

</div>
<%= f.button :submit, class: "ui positive button"%>
  

<% end %>

