<p id="notice"><%= notice %></p>

<h1>Shifts</h1>

<table class="ui celled table">

  <tbody>
    <% @shifts.each do |shift| %>
      <tr>
        <td>
        <%= link_to shift.name, shift %><br>
        <small><%= shift.date.strftime("%d/%m/%Y") %></small>
        <%= shift.suplier.present? ? shift.suplier.name : '' %><%= shift.client.present? ? shift.client.name : '' %>
          <td><%= link_to edit_shift_path(shift), class: 'ui compact icon button' do %>
          <i class="edit icon"></i>
        <% end %>
        <%= link_to shift, method: :delete, data: { confirm: 'Are you sure?' }, class: 'ui compact icon button' do %>
        <i class="delete icon"></i>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shift', new_shift_path, class: 'ui button' %>
