<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @shift.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @shift.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @shift.date %>
</p>

<p>
  <strong>Shipper:</strong>
  <%= @shift.suplier.present? ? @shift.suplier.name : 'NONE' %>
</p>

<p>
  <strong>Client:</strong>
  <%= 
  link_to @shift.client.name, client_path(@shift.client) if @shift.client.present?
  
    %>
</p>
<% @grades.each do |grade| %>
<div class="ui middle aligned divided list">
<b><%= grade.name %></b>
<% @shift.shift_goods.each do |g| %>
<% if g.good.grade_id == grade.id  and !g.ves.blank? %>
<div class="item">
<div class="right floated content">
      <div class="ui button"><%= g.ves %></div>
    </div>
    <i class="list icon"></i>
    <div class="content">
      <%= g.good.name %>
    </div>
  
</div>
<% end %>
<% end %>
</div>
<% end %>
<div class="action_buttons">
<%= link_to 'Edit', edit_shift_path(@shift), class: 'ui positive button' %> 
<%= link_to 'Back', shifts_path, class: 'ui button' %>
</div>