<p id="notice"><%= notice %></p>

<p>
  <strong>Grade:</strong>
  <%= @good.grade.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @good.name %>
</p>

<%= link_to 'Edit', edit_good_path(@good) %> |
<%= link_to 'Back', goods_path %>
