<%= simple_form_for(@shift_good) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :good %>
    <%= f.association :shift %>
    <%= f.input :ves %>
    <%= f.input :description %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
