<p id="notice"><%= notice %></p>

<h1>Listing Shift Goods</h1>

<table>
  <thead>
    <tr>
      <th>Good</th>
      <th>Shift</th>
      <th>Ves</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shift_goods.each do |shift_good| %>
      <tr>
        <td><%= shift_good.good %></td>
        <td><%= shift_good.shift.name %></td>
        <td><%= shift_good.ves %></td>
        <td><%= shift_good.description %></td>
        <td><%= link_to 'Show', shift_good %></td>
        <td><%= link_to 'Edit', edit_shift_good_path(shift_good) %></td>
        <td><%= link_to 'Destroy', shift_good, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shift good', new_shift_good_path %>
