<p id="notice"><%= notice %></p>

<p>
  <strong>Good:</strong>
  <%= @shift_good.good %>
</p>

<p>
  <strong>Shift:</strong>
  <%= @shift_good.shift %>
</p>

<p>
  <strong>Ves:</strong>
  <%= @shift_good.ves %>
</p>

<p>
  <strong>Description:</strong>
  <%= @shift_good.description %>
</p>

<%= link_to 'Edit', edit_shift_good_path(@shift_good) %> |
<%= link_to 'Back', shift_goods_path %>
